
body{
    font-family: 'Crimson Pro',serif;
}
.loader{
    position:fixed;
    width:100%;
    height: 100vh;
    top:0;
    left:0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(94, 94, 250);
    transition: all 0.5s ease;
}
.box{
    width:25px;
    height: 25px;
    margin:10px;
    border-radius: 5px;
    background:linear-gradient(rgb(252, 44, 44),rgb(245, 175, 46));
}
.load-header{
    text-align: center;
    width:100%;
    margin:50px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.load-header::after{
    display: inline-block;
    vertical-align: bottom;
    content:"\2026";
    overflow:hidden;
    width:0px;
    animation: dots steps(4,end) 2s infinite;

}
.load-box{
    display: flex;
    text-align: center;
    justify-content:center;
}
.home-body{
    background-color:#f0f1f3;
    width: 100%;
    height: 100%;
    color: black;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.25rem;
}
html{
    scroll-behavior: smooth;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.bg-dark {
    background-color: rgba(52,58,64,0.8)!important;
}
.intro{
    width: 100%;
    height: 100vh;
    margin-bottom:50px;
}
.intro h1{
    font-size: 2.25rem;
    text-shadow: 2px 2px black;
    font-weight: 450;
}
.typing::after{
    content:"";
    width:4px;
    height:80%;
    border-right: 2px solid beige;
    animation: blink 0.75s infinite;
}
.intro_pic{
    width: 100%;
    height:100vh;
}
.intro_text{
    position: absolute;
    top:30%;
    left:5%;
    color: beige;
}
.about{
    padding:40px 30px 0 30px;
    text-align: center;
    margin-bottom:50px;
    font-size: 1.25rem;
}
.about i{
    padding:20px;
}
.content{
    padding:10px 20px;
    font-weight: 500;
    line-height: 1.5;
}
.icon{
    margin-bottom: 10px;
}
.skills{
    padding:40px 30px 0 30px;
    justify-content: center;
    text-align:center;
    margin-bottom:50px;
}
.skills h1{
    padding:30px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 450;
}
.skills h2{
    font-size: 2rem;
    font-weight: 450;
}
.skills ul{
    list-style: none;
    padding-left:0;
    font-weight: 500;
    line-height: 1.5;

}

.projects{
    text-align:center;
    padding:40px 30px 0 30px;
    justify-content: space-around;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom:50px;
}
.projects h1{
    padding:30px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 450;
}
.projects h3{
    padding:0px 40px 30px 40px;
    margin:0;
    font-size: 2rem;
    font-weight: 450;
}
.projects .lastrow{
    margin:30px;
}
.projects a{
    text-decoration: none;
    color: black;
}
.projects a:hover{
    text-decoration-line: underline;
}

.projects #carouselExampleSlidesOnly:hover{
    box-shadow: -2px 2px 5px 5px rgb(99, 96, 96);
    border-radius: 10px;
}
.projects #carouselExampleSlidesOnly{
   margin:40px;
}
.projects img{
    border-radius: 10px;
}
.shows{
        padding:40px 30px 0 30px;
        justify-content: center;
        text-align:center;
        margin-bottom:50px;
}
.shows h1{
    padding:30px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 450;
}
.shows img{
    border-radius: 5px;
    margin:30px;
    cursor: pointer;
}
.shows img:hover{
    box-shadow: -2px 2px 5px 5px rgb(99, 96, 96);
}
footer{
background-color: rgb(66, 58, 58);
}
.por{
    padding:40px 30px 0 30px;
    justify-content: center;
    text-align:center;
    margin-bottom:50px;
    font-size: 1.35rem;
    font-weight: 450;
}
.por h1{
    padding:30px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 450;
}
.por-name{
    text-align: left;
    padding-top:5%;
}
.por-box{
    margin-bottom:20px;
}
footer{
    display:block;
    padding:50px 20px 100px 30px;
}
.foot{
    margin-bottom: 5%;
}
.foot a{
    margin:1%;
    margin-top: 5%;
}
.footer-image{
    border-radius: 50px;
}
.disappear{
    opacity:0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}
.appear{
    opacity: 1;
    transform: translateY(0);
}

.fadeOut{
    opacity:0;
    pointer-events: none;
}
.fadeIn{
    opacity:1;
    pointer-events:all;
}
@keyframes blink{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes move1{
    0%{
       transform: translate(0px,0px); 
    }
    33.33%{
        transform: translate(0px,35px); 
    }
     66.66%{
        transform: translate(45px,35px);
     }
     100%{
         transform: translate(45px,0px); 
     }
}
@keyframes move2{
    0%{
       transform: translate(0px,0px); 
    }
     100%{
         transform: translate(-45px,0px); 
     }
}
@keyframes move3{
    0%{
       transform: translate(0px,0px); 
    }
    33.33%{
        transform: translate(0px,-35px); 
    }
     66.66%{
        transform: translate(-45px,-35px);
     }
     100%{
         transform: translate(-45px,0px); 
     }
}
@keyframes move4{
    0%{
       transform: translate(0px,0px); 
    }
     100%{
         transform: translate(45px,0px); 
     }
}

@keyframes dots{
    to{
       width:0.8em;
    }
}
